.panel-heading .collapsed:hover .itembody{
	background:#fff;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	color:#242424;
	-webkit-text-size-adjust:100%;
	font-size:1.4rem;
	overflow-x:hidden;
	min-width:20em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a{
	color: #0b2a61;
}
a:hover{
	text-decoration:none;
	color: #f9b500;
}

.btn{
	border: 2px solid #f9b500;
	color: #f9b500;
	padding:10px 30px;
	background: none;
	/*text-transform: uppercase;*/
	border-radius: 0px;
}
.btn:hover{
	border: 2px solid #f9b500;
	color: #fff;
	background: #f9b500;
}
.no-right-pad{
	padding-right:0px;
}
.no-left-pad{
	padding-left:0px;
}

label{
	font-weight:400;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.table > thead > tr > th{
	background: #0b2a61;
	color: #fff;
}
/* === Top Strip ==== */
.fixed-header{
	position: fixed;
width: 100%;
z-index: 99;
background: #fff;
top:0px;
}

.top-stip{
	background: #0b2a61;	
}
.top-stip ul{
	list-style: none;
	margin: 0px;
	text-align: right;
	/*text-transform: uppercase;*/
}
.top-stip ul li{
	border-left: 1px solid #244071;
	/*padding: 18px 20px; Alfredo */
    padding: 15px 20px;
    margin: 0;
	display: inline-block;
    position: relative;
}

.top-stip ul li .dropdown-menu{
	background: #0b2a61;
	border-radius: 0px;
	right: 0px;
	left: auto;
}
.top-stip ul li .dropdown-menu li{
	padding: 0px;
	display: block;
	border-bottom: 1px solid #244071;
	text-align: center;
}
.top-stip ul li .dropdown-menu li a{
	padding:5px 0px;
}


.top-stip ul li a{
	color: #fff;
}

.dropdown span {
    color: #fff;
    margin-right: 15px;
    display: inline-block;
}

.top-stip ul li a:hover{
	color: #f9b500;
}

.top-stip ul li .dropdown-menu a:hover{
	color: #fff !important;
	background: rgba(255,255,255,.2) !important;
	cursor: pointer;
}

/* === Top Strip ==== */

/* === Header ==== */
header {
	/*padding: 10px 0px; Alfredo*/
	padding: 4px 0px;
}
header .logo{
	/*margin-top:-70px; alfredo*/
	margin-top:-53px;
	position: absolute;
	z-index: 9;
	margin-left:-20px;
}
header .club-sites{
	text-align: right;
}
	
header .club-sites img{
	  width: 34px;
    margin-left: 18px;
}
header .club-sites img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
/* === Header ==== */

/* === Navigation ==== */
.navbar-default{
	background: #f9b500;
	margin: 0px;
	border-radius: 0px;
	border:1px solid #f9b500;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 4px solid #f9b500;
	transition: all .2s ease-in-out;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 4px solid #0b2a61;
	color: #0b2a61;
}
/* === Navigation ==== */

/* === Main Menu ==== */
.main-menu{
	background: url(../../images/inner-banner.png);
}
.main-menu ul{
	margin-top: 200px;
	list-style: none;
	/*text-transform: uppercase;*/
}
.main-menu ul li{
	float: left;
}
.main-menu ul li a{
	font-weight: bold;
	/*text-transform: uppercase;*/
	line-height: 60px;
	text-align: center;
	color: #fff;
	padding: 12px 56px;
	border-top: 5px solid #fff;
	border-right: 1px solid rgba(255,255,255,0.3);
	background: rgba(0,0,0,0.6);
	position: relative;
}
.main-menu ul li a:hover{
	border-top: 5px solid #f9b500;
	color: #f9b500;
}
.main-menu ul li.extra a{
	background: #0b2a61;
	border-right: 0px;
}
/* === Main Menu ==== */

/* === Main Content ==== */
main{
	padding:30px 0px;
	margin-top:180px;
}
main .nav-tabs{
	border:0px;
}
main .nav-tabs > li > a{
	background: #f5f5f5;
	border-radius: 0px;
	font-weight: 700;
	/*text-transform: uppercase;*/
    border: 0px solid transparent;
    -webkit-transition: all .5s ease;
}
main .nav-tabs > li > a:hover{
	background: #f9b500;
	color: #0b2a61;
	border:none !important;
}
main .nav-tabs > li.active > a, main  .nav-tabs > li.active > a:focus, main  .nav-tabs > li.active > a:hover {
    color: #fff;
    background: #0b2a61;
    border: 0px solid #0b2a61;
}

main .week{
	background:#e4e4e4;
	color: #0b2a61;
	font-weight: 700;
	width: 100%;
	/*text-transform: uppercase;*/
	border:1px solid #f8f8f8;
	margin-bottom: 20px;
	padding: 10px;
	
}
.gray{
	background: #f5f5f5;
}
.heading{
	padding: 10px 0px;
	background: #0b2a61;
	margin-bottom: 10px;
}
.heading-gd{
	padding: 10px 0px;
	background: #ffb900;
	margin-bottom: 10px;
}
.week-list, .heading .date, .heading .referee, .heading .hour, .heading .field, .heading .cmts, .heading .info, .heading .position-number, .heading .position-team, .heading .position-gp, .heading .position-puntos, .heading .position-extra, .heading .position-tot, .heading .position-wlt, .heading .goals-player, .heading .goals-goals, .heading .goals-number, .heading .goals-team, .heading .yellow-team, .heading .yellow-player, .heading .yellow-week, .heading .yellow-cards, .heading .red-team, .heading .red-player, .heading .red-week, .heading .red-days, .heading .red-fee, .heading .red-comments{
	padding: 3px 9px;
	/*text-transform: uppercase;*/
	color: #fff;
	font-weight: 700;
	border-right:1px solid #fff;
}
.position-gp{
	width:5%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.position-puntos{
	width:5%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.position-team{
	width:30%;
	float: left;
	text-align: left;
	padding: 3px 15px;
}
.position-number{
	width:5%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.position-extra{
	width:5%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.position-tot{
	width:5%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.position-wlt{
	width:15%;
	float: left;
	text-align: center;
	padding: 3px 15px;
}
.item .goals-player, .item .goals-goals, .item .goals-number, .item .goals-team, .item .yellow-player, .item .yellow-week, .item .yellow-cards, .item .yellow-team, .item .red-team, .item .red-player, .item .red-week, .item .red-days, .item .red-fee, .item .red-comments{
	padding: 3px 15px;
	/*text-transform: uppercase;*/
	/*font-weight: 700;*/
	border-right:1px solid #fff;
}
.red-team{
	width:18%;
	float: left;
	text-align: left;
}
.red-player{
	width:26%;
	float: left;
	text-align: left;
}
.red-week{
	width:13%;
	float: left;
	text-align: center;
}
.red-days{
	width:6%;
	float: left;
	text-align: center;
}
.red-fee{
	width:7%;
	float: left;
	text-align: center;
}
.red-comments{
	width: 28%;
float: left;
text-align: left;
border: 0px !important;
}
.yellow-team{
	width:30%;
	float: left;
	text-align: left;
}
.yellow-player{
	width:44%;
	float: left;
	text-align: left;
}
.yellow-week{
	width:13%;
	float: left;
	text-align: center;
}
.yellow-cards{
	width:13%;
	float: left;
	text-align: center;
	border:0px !important;
}
.goals-team{
	width:28%;
	float: left;
	text-align: left;
}
.goals-player{
	width:35%;
	float: left;
	text-align: left;
}
.goals-goals{
	width:10%;
	float: left;
	text-align: center;
}
.goals-number{
	width:6%;
	float: left;
	text-align: center;
}
.week-list{
	width:33.5%;
	float: left;
}
.date, .referee, .hour, .field, .cmts, .info{
	width: 11%;
	float: left;
	text-align: center;
}
.heading .info{
	border-right:0px;
	float: right;
	
}
.panel-group .panel {
 	border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading  {
	padding: 0;
    border-radius: 0;
    color: #212121;
    border-color: #EEEEEE;
}
.panel-heading .item{
	/*text-transform: uppercase;*/
	font-size: 16px;
}

.panel-heading .item img{
	width: 22px;
}
.panel-heading .item .week-list{
    padding-top: 04px;
    padding-bottom: 04px;
    padding-left: 0px;
    padding-right: 0px;
	line-height: 35px;
}
.panel-heading  .item .hour, .panel-heading  .item .referee, .panel-heading .item .info{
	padding: 04px 0px;
	line-height: 35px;
}
.panel-heading .item .date, .panel-heading .item .field, .panel-heading  .item .cmts{
	padding: 04px 0px;
	line-height: 35px;
}
.panel-heading .collapsed  {
	padding-left: 0px;
	padding-right: 0px;
}
.panel-heading .collapsed .item {
	background: #ddd !important;
	color: #0b2a61;
	
	
	
	
	
	
	
}
.panel-heading .item {
	background: #0b2a61;
	color: #fff ;
}

.panel-heading .collapsed:hover .item .field a span{
	background: transparent !important;
	color: #FFF;
	transition: all 1s linear;
} 
.panel-heading .collapsed .item .field a span{
	background: transparent !important;
	color: #0b2a61;
	
}
.panel-heading .item .field a span{
	background: #0b2a61;
	color: #fff ;

}
.panel-heading .item .info {
	background: #f9b500;
	color: #fff ;
	float: right;
}
.panel-heading .collapsed .item .info {
	background: transparent ;
	color: #0b2a61 ;
	float: right;
	
}
.panel-heading .collapsed:hover .item .info {
	background: transparent ;
	color: #fff ;
	float: right;
	transition: all 1s linear;
}
.panel-heading .collapsed:hover .item{
	background: #0b2a61 !important;
	color: #fff !important;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.panel-body {
	background :#f5f5f5;
	/*text-transform: uppercase;*/
	padding: 5px 0px;
}
.panel-body h1{
	font-size: 30px;
	color: #0b2a61;
}
.panel-body ul{
	color: #0b2a61;
	list-style: none;
}
.panel-body .gd-homelogo, .panel-body .gd-homescore, .panel-body .gd-scorediv, .panel-body .gd-awayscore, .panel-body .gd-awaylogo{
    padding: 5px 0px;
	font-size: 100px;
	color: #0b2a61;
	float: left;
	line-height: 1 !important;
}
#gd-score{
    background: url(../../imagenes/marcador.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    float: left;
}
.panel-body .gd-homelogo{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 25%;
    text-align: right;
}
.panel-body .gd-homelogo img, .panel-body .gd-awaylogo img{
    width: 110px;
    height: 110px;
}
.panel-body .gd-homescore{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 20%;
    text-align: right;
}
.panel-body .gd-scorediv{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 10%;
    text-align: center;
}
.panel-body .gd-awayscore{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 20%;
    text-align: left;
}
.panel-body .gd-awaylogo{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 25%;
    text-align: left;
}
.gd-teamname{
    padding: 15px 0px;
    /*text-transform: uppercase;*/
    color: #0b2a61;
    font-weight: 700;
    float: left;
}
.heading-gd .gd-home-number, .heading-gd .gd-home-player, .heading-gd .gd-home-played, .heading-gd .gd-home-yellow, .heading-gd .gd-home-red, .heading-gd .gd-home-goals, .heading-gd .gd-away-number, .heading-gd .gd-away-player, .heading-gd .gd-away-played, .heading-gd .gd-away-yellow, .heading-gd .gd-away-red, .heading-gd .gd-away-goals{
    padding: 3px 15px;
    /*text-transform: uppercase;*/
    color: #0b2a61;
    font-weight: 700;
    border-right: 1px solid #0b2a61;
    float: left;
}
.item .gd-home-number, .item .gd-home-player, .item .gd-home-played, .item .gd-home-yellow, .item .gd-home-red, .item .gd-home-goals, .item .gd-away-number, .item .gd-away-player, .item .gd-away-played, .item .gd-away-yellow, .item .gd-away-red, .item .gd-away-goals{
    float: left;
    padding: 04px 12px;
    line-height: 15px;
}
.gd-hometeam{
    padding: 5px 5px;
	font-size: 20px;
	float: left;
	line-height: 1 !important;
	width: 50%;
    text-align: left;
}
.gd-field{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 95%;
    text-align: left;
}
.gd-field-ico{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 5%;
    text-align: left;
}
.gd-referee-ico{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 5%;
    text-align: left;
}
.gd-referee{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 95%;
    text-align: left;
}
.gd-comments-ico{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 5%;
    text-align: left;
}
.gd-comments{
    padding: 5px 5px;
	font-size: 15px;
	float: left;
	line-height: 1 !important;
	width: 95%;
    text-align: left;
}
.gd-awayteam{
    padding: 5px 5px;
	font-size: 20px;
	float: left;
	line-height: 1 !important;
	width: 50%;
    text-align: left;
}
.gd-home-number, .gd-away-number{
    width: 7%;
    text-align: left;
    font-size: 14px;
}
.gd-home-player, .gd-away-player{
    width: 65%;
    text-align: left;
    font-size: 14px;
}
.gd-home-played, .gd-away-played{
    width: 7%;
    text-align: center;
    font-size: 14px;
}
.gd-home-yellow, .gd-away-yellow{
    width: 7%;
    text-align: center;
    font-size: 14px;
}
.gd-home-red, .gd-away-red{
    width: 7%;
    text-align: center;
    font-size: 14px;
}
.gd-home-goals, .gd-away-goals{
    width: 7%;
    text-align: center;
    font-size: 16px;
}
.gd-doc-1{
    padding: 0px 10px;
    float: left;
    width: 25%;
    text-align: center;
}
.gd-doc-2{
    padding: 0px 10px;
    float: left;
    width: 25%;
    text-align: center;
}
.gd-doc-3{
    padding: 0px 10px;
    float: left;
    width: 25%;
    text-align: center;
}
.gd-doc-4{
    padding: 0px 10px;
    float: left;
    width: 25%;
    text-align: center;
}

/* === Main Content ==== */

/* === Footer ==== */
.form-control{
	border-radius:0px;
	
}
.sc-field{
    text-decoration: none !important;
}
footer{
	 background: #0b2a61;
	color: #fff;
	overflow: hidden;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #f9b500;
}
footer ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
footer input{
	margin-bottom: 20px;
}
footer .site-navigation{
    padding-top: 10px;
}

footer p{
	margin-bottom: 5px;
}
footer .site-navigation h4{
	color: #fff;
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
footer .site-navigation .btn{
	border: 2px solid #f9b500;
	color: #f9b500;
	padding:10px 30px;
	background: none;
	/*text-transform: uppercase;*/
	border-radius: 0px;
}
footer .site-navigation .btn:hover{
	border: 2px solid #f9b500;
	color: #fff;
	background: #f9b500;
}
footer .site-navigation ul.list li{
	display: inline-block;
        padding: 10px;
        font-size: 28px;
}
footer .site-navigation ul.list-inline li{
	line-height: 40px;
	margin-right: 10px;
	/*text-transform: uppercase;*/
}
footer .soccer-ball{
	background: #f9b500;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer .soccer-ball:after{
	position: absolute;
	content: '';
	background: #f9b500;
	width: 1000%;
	height: 100%;
	top: 0px;
	left: 95%;
}

.sc-ScoreDiv, .sc-HomeScore, .sc-AwayScore, .sc-HomePenalties, .sc-AwayPenalties{
	background:rgba(255,255,255,0.8);
	color:#0b2a61;
}

.collapsed .sc-ScoreDiv, .collapsed .sc-HomeScore, .collapsed .sc-AwayScore, .collapsed .sc-HomePenalties, .collapsed .sc-AwayPenalties{
	background:#0b2a61;
	color:#fff;
}

.collapsed:hover .sc-ScoreDiv, .collapsed:hover .sc-HomeScore, .collapsed:hover .sc-AwayScore, .collapsed:hover .sc-HomePenalties, .collapsed:hover .sc-AwayPenalties{
	background:rgba(255,255,255,0.8);
	color:#0b2a61;
}

.copyright{
	padding: 5px 0px;
}
.copyright .container{
	text-align: center;
}
/* === Footer ==== */

/*==== Login ======= */

/* Container */
.login{
	padding: 0px 0px;
}
.login .login-box{
    position: relative;
    background: #f5f5f5;
    border-radius: 0px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0,
    0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.login .login-box .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #0b2a61;
	 border-right: 5px solid #0b2a61;
  margin: 0 0 35px;
	text-align: center;
  padding: 10px 0 10px 0px;
  color:#0b2a61;
  font-size: 32px;
  font-weight: 600;
  /*text-transform: uppercase;*/
}
.login .login-box .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.login .login-box .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 18px;
  font-weight: 400;
}
.login .login-box .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.login .login-box .input-container input:focus ~ .bar:before, .login .login-box .input-container input:focus ~ .bar:after {
  width: 50%;
}
.login .login-box .input-container input:focus ~ label {
  color: #0b2a61;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.login .login-box .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 20px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.login .login-box .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.login .login-box .input-container .bar:before, .login .login-box .input-container .bar:after {
  content: '';
  position: absolute;
  background: #0b2a61;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.login .login-box .input-container .bar:before {
  left: 50%;
}
.login .login-box .input-container .bar:after {
  right: 50%;
}
.login .login-box .button-container {
  margin: 0 60px;
  text-align: center;
}
.login .login-box .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #0b2a61;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  /*text-transform: uppercase;*/
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login .login-box .button-container button span {
  position: relative;
  z-index: 1;
  color: #0b2a61;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login .login-box .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #f9b500;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login .login-box .button-container button:hover, .login .login-box .button-container button:active, .login .login-box .button-container button:focus {
  border-color: #f9b500;
}
.login .login-box .button-container button:hover span, .login .login-box .button-container button:active span, .login .login-box .button-container button:focus span {
  color: #f9b500;
}
.login .login-box .button-container button:active span, .login .login-box .button-container button:focus span {
  color: #ffffff;
}
.login .login-box .button-container button:active:before, .login .login-box .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.login .login-box .footer {
  margin: 40px 0 0;
  color: #f9b500;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.login .login-box .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login .login-box .footer a:hover {
  color: #0b2a61;
}
.loginerror{
    color: #e80c4d;
    font-weight: bold;
    font-size: 28px;
    padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 60px;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

/*====  Buckend Design =====*/






.member-buckend{
	padding: 60px 0px;
	background: #f5f5f5;
}

.member-buckend-new{
	padding: 0px 0px;
}
/*Left Side*/
	




.nav-side-menu {
  overflow: auto;
  font-size: 14px;
  font-weight: 300;
  background-color: #0b2a61;
  position:relative;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #fff;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #f9b500;
  background-color: #f9b500;
}
.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li.active a {
  color: #0b2a61;
	display: block;
	padding-left: 27px;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #f5f5f5;
  border: none;
  line-height: 35px;
  border-bottom: 1px solid #0b2a61;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #0b2a61;
}
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a {
  color: #fff;
}
.nav-side-menu ul .sub-menu li:hove:before,
.nav-side-menu li .sub-menu li:hove:before {
	color:#fff;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  color: #0b2a61;
	position: absolute;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #f5f5f5;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
	display: block;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #0b2a61;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.matches-dates-shedule{
	margin-top:30px;
}
	
.matches-dates-shedule > ul{ margin: 0 0 60px}
.matches-dates-shedule > ul > li{ 
    text-align: center; 
    padding-top: 5px; 
    padding-right: 10px; 
    padding-left: 10px; 
    padding-bottom: 5px;
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.matches-dates-shedule > ul > li:nth-child(odd){ background: #fafafa;}
.matches-dates-shedule > ul > li .detail{ 
    float:left; 
    display: inline-block; 
    margin: 0px 0px; 
    width: 40%;
	margin-top: 8px;
}

.matches-dates-shedule > ul > li .detail .left {
    float: left;
    width: 35%;
    /*text-transform: uppercase;*/
    padding-left: 20px;
}
.matches-dates-shedule > ul > li .detail .rigthtop {
    text-align: left; 
    float: left;
    width: 30%;
    /*text-transform: uppercase;*/
    color: #878484;
    padding-left: 20px;
}
.matches-dates-shedule > ul > li .detail .rigth {
    float: left;
    width: 30%;
    /*text-transform: uppercase;*/
    padding-left: 20px;
}
.matches-dates-shedule > ul > li img{ transform: scale(0.6); max-height: 95px;}
.matches-dates-shedule > ul > li a{ margin: 0 0 5px;display: block;color: #333; font-weight: 900;}
.matches-dates-shedule > ul > li a i{ margin: 0 0 0 10px;}
.matches-dates-shedule > ul > li .detail span{ display: block; margin: 0 0 5px; text-align: left; }
.matches-dates-shedule > ul > li strong{ font-size: 16px; color: #0b2a61; font-weight: 400;
    /*text-transform: uppercase;*/ 
    margin: 0 0 5px; display: block;}
.matches-dates-shedule > ul > li strong i{ color: #0b2a61; font-style: normal; font-weight: 300; }
.matches-dates-shedule > ul > li i{ color: #840707; font-weight: 600; font-style: normal;}

.teaminfo{
	padding:30px 0px;
}
.teaminfo h1{
	color: #0b2a61;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	font-size: 25px;
	font-weight: 700;
}
.teaminfo strong{
	font-size: 100%;
	color: #0b2a61;
	padding: 4px 0px;
}
.team-info-logo{
    width: 65%;
}
.teaminfo .uniformtop{
	margin-top:0px;
}
.teaminfo .uniform{
	margin:0px 0px;
}
.teaminfo h2{
	color: #0b2a61;
	font-size:16px;
	
}
.container h3{
	color: #f9b500;
	/*text-transform: uppercase;*/
	margin-top: 10px;
}
/* Team */
.team-column{ text-align: center; margin-top: 30px; position: relative; border: 1px solid #e8e8e8; overflow: hidden;}
.team-column img{ max-width: 100%;}

.player-number{ height: 63px; width: 63px; text-align: center; line-height: 60px; font-size: 24px; position: absolute; color: #fff;
left: 0px; top: 0px; border-radius: 100%; border: 1px solid #434144; font-weight: bold; background: rgba(249,181,0,0.8);}
.team-detail{ text-align: left; position: absolute; padding: 20px 10px; bottom: -283px; left: 0; width: 100%; background: rgba(11,42,97,0.8);}
.team-detail h5{ padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px solid rgba(255,255,255,0.2); position: relative; text-align: center; font-weight: 700;}
.team-detail h5 a{ color: #fff;}
.team-detail h5::before{ content: ""; position: absolute; width: 30px; border-bottom: 1px solid; bottom: -1px;}
.team-column:hover .player-number{ color: #fff;}
.team-column:hover .team-detail{ bottom: 0; background: #f5f5f5;-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out; border-top: 4px solid #f9b500; border-bottom: 1px solid #f9b500;} 
.team-column:hover .desination{ visibility: visible; opacity: 0;}
.team-column:hover .team-detail h5{ border: 0; padding: 0;}
.team-column:hover .team-detail h5 a{ color: #333;}
.team-column:hover .team-detail h5::before{ display: none;}
.team-column:hover .detail-inner{ visibility: visible; opacity: 1;}
.desination{ color: #fff; /*text-transform: uppercase;*/}
.detail-inner{ overflow: hidden; visibility: hidden; opacity: 0; line-height: 1;}
.detail-inner > ul{ width: 35%; padding: 0px; float: left;list-style: none; border-right: 1px solid #f9b500; margin: 0 20px 0 0;}
.detail-inner > ul:last-child{ border: 0; margin: 0; width: 50%;}
.detail-inner > ul > li{ font-size: 14px; font-weight: 400; margin: 0 0 10px;}
.detail-inner > ul > li:last-child{ margin: 0;}



.breadcrumb {
  display: block;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
	text-align: right; }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #9fa1a3;
  content: "/"; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }

.breadcrumb-item.active {
  color: #9fa1a3; }
.page-title{
	color:#0b2a61;
	margin: 0px;
	padding: 0px;
}
.page-box{
	display: block;
	border-radius: 0px;
	background: #fff;
	padding: 30px 30px;
	margin: 15px 0;
	border: 1px solid #ccc;
}
.page-box h3{
	margin: 0px;
	padding:0px;
	color: #0b2a61;
}
.page-box label{
	margin-top: 8px;
}
.page-box  .form-group{
	border-bottom:1px solid #ccc;
	padding-bottom: 15px;
}
.page-box .color-box{
	height: 34px; 
	border: 1px solid #333; 
	width: 70px;
}
.page-box .fa-edit{
	color:#E39418;
	
	
	
}
.schedule-left-icon{
    float: left;
    text-align: center;
    line-height: 8px;
    font-size: 12rem;
    width: 10%;
}
.schedule-left-score{
    float: left;
    color: #0B2A61;
    text-align: right;
    line-height: 121px;
    font-size: 8rem;
    width: 13%;
}
.schedule-left-pen{
    float: left;
    color: #0B2A61;
    text-align: left;
    line-height: 121px;
    font-size: 8rem;
    width: 7%;
}
.schedule-right-pen{
    float: left;
    color: #0B2A61;
    text-align: right;
    line-height: 121px;
    font-size: 8rem;
    width: 7%;
}
.schedule-right-score{
    float: left;
    color: #0B2A61;
    text-align: left;
    line-height: 121px;
    font-size: 8rem;
    width: 13%;
}
.schedule-right-icon{
    float: left;
    line-height: 8px;
    font-size: 12rem;
    width: 10%;
}
.schedule-center{
    float: left;
    line-height: 60px;
    font-size: 12rem;
    width: 30%;
}
.schedule-point-right-pen{
    position: absolute;
    /*background: #F9B500;*/
    /*border-radius: 500px;*/
    color: #F9B500;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 60px;
    top: 26px;
    right: 160px;
    font-size: 12rem;
}
.sc-Home{
    float: left;
    text-align: right;
    width: 25%;
}
.sc-HomeLogo{
    float: left;
    text-align: center;
    width: 10%;
}
.sc-HomePenalties{
    float: left;
    text-align: center;
    width: 4%;
}
.sc-HomeScore{
    float: left;
    text-align: right;
    width: 6%;
}
.sc-ScoreDiv{
    float: left;
    text-align: center;
    width: 6%;
}
.sc-AwayScore{
    float: left;
    text-align: left;
    width: 6%;
}
.sc-AwayPenalties{
    float: left;
    text-align: center;
    width: 4%;
}
.sc-AwayLogo{
    float: left;
    text-align: center;
    width: 10%;
}
.sc-Away{
    float: left;
    text-align: left;
    width: 25%;
}
.contact-info{
    width: 100%;
}
.contact-social ul li{
	display:inline-block;
	margin-right:10px;
}
.contact-social ul li a{
	display: block;
width: 40px;
line-height: 40px;
text-align: center;
}
.onlinesports{
    margin-top: 20px;   
}
.teaminfomapcontainer{
  width: 100%;
  margin-top:0px;
}
#teaminfomap{
    height: 100%;
    padding-bottom: 100%;
    padding-top: 0px;
}
.stadium-name {
    font-size: 20px;
}
.soccer-ball img {
    max-height: 292px;
}

/*.panel-heading .container123 .item .sc-Away{
    color:white;
}*/
.panel-heading .collapsed .sc-Home, .panel-heading .collapsed .sc-Away{
    color:#0b2a61;
}



.panel-heading .collapsed:hover .item .sc-Home{
    color:white;
}
.panel-heading .collapsed:hover .item .sc-Away{
    color:white;
}