	.datagridAdmin table {
		border-collapse: collapse;
		text-align: left;
		/*width: 1480px;*/
		overflow: hidden;
	}

	/* DEFAULT MANDATORY EVERY TABLE */
	.datagridAdmin {
		font: normal 12px/150% Montserrat; /* font,font-size */
		background: #fff; /* table-background-color */
		border: 3px solid #069; /* border width, border color */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		margin: 0 auto;
	}
	
	.datagridAdmin table td, .datagridAdmin table th {
		/*padding: 3px 10px;*/
	}/* cellpadding */
	
	/* thead */
	.datagridAdmin table thead th {
		/* thead-top-gradient-color, thead-lower-gradient-color */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699; /* set to lower gradient color */
		color: #ebebeb; /* header-font-color */
		border-left: 1px solid #006699; /* thead-vert-line-size, thead-vert-line-color */
		font-size: 15px; /* thead-font-size */
	}
	.datagridAdmin table thead th:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tbody */
	.datagridAdmin table tbody td {
		color: #00496B; /* tbody-color */
		border-left: 1px solid #E1EEF4; /* tbody-vert-line-size, tbody-vert-line-color */
		text-align: left; /* tbody-text-align */
	}
	
	.datagridAdmin table tbody .alt {
		background: #E1EEF4; /* tbody-row-alt-background-color */
	}
	.datagridAdmin table tbody .alt td {
		background: #E1EEF4;
		color: #6B332B;
	}
	.datagridAdmin table tbody td:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tfooter */
	.datagridAdmin table tfoot td div {
		border-top: 1px solid #069; /* tfoot-top-border-width, tfoot-top-border-color */
		background: #E1EEF4; /* tfoot-background-color */
		padding: 5px; /* tfoot-padding */
	}
	
	.datagridAdmin table tfoot td {
		padding: 0; /* MANDATORY */
	}
	
	/* paging */
	.datagridAdmin table tfoot td ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	.datagridAdmin table tfoot  li {
		display: inline;
	}
	.datagridAdmin table tfoot li a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding: 2px 8px;
		margin: 1px;
		/*border: 1px solid #069;*/ /* border width, border color */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699;
	}
	
	.datagridAdmin table tfoot li .active, .datagridAdmin table tfoot li a:hover {
		text-decoration: none;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: none;
		background-color: #006699;
	}
	
	.datagridAdmin {
		/*border: 3px solid #069;*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}