@charset "utf-8";
/*	.circularsmall {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		}
	*/			
	.circularssmall{
		width: 19px;
		height: 19px;
		margin: 0px 0px 0px 0px;
		position: relative;
		float: left;
		border-radius: 50%;
		overflow: hidden;
		background: #fff;
		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
		box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
	}
	
	.circularssmall img{
		position: absolute;
		border: none;
		width: 19px;
		height: 19px;
		/*top: -8px;
		left: -8px;*/
		cursor: pointer;
	}			/* overall */
	.circularsmall{
		width: 30px;
		height: 30px;
		margin: 0px 0px 0px 0px;
		position: relative;
		float: left;
		border-radius: 50%;
		overflow: hidden;
		background: #fff;
		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
		box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
	}
	
	.circularsmall img{
		position: absolute;
		border: none;
		width: 30px;
		height: 30px;
		/*top: -8px;
		left: -8px;*/
		cursor: pointer;
	}			/* overall */
	.circularbig{
		width: 50px;
		height: 50px;
		margin: 0px 0px 0px 0px;
		position: relative;
		float: left;
		border-radius: 50%;
		overflow: hidden;
		background: #fff;
		-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
		box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
	}
	
	.circularbig img{
		position: absolute;
		border: none;
		width: 50px;
		height: 50px;
		/*top: -8px;
		left: -8px;*/
		cursor: pointer;
	}			/* overall */
	.datagridTeamSchedule table {
		border-collapse: collapse;
		text-align: left;
		/*width: 1480px;*/
		overflow: hidden;
	}/* DEFAULT MANDATORY EVERY TABLE */
	.datagridTeamSchedule {
		font: normal 12px/150% Montserrat; /* font,font-size */
		background: #fff; /* table-background-color */
		/*border: 3px solid #069;  				border width, border color*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		margin: 0 auto;
	}
	
	.datagridTeamSchedule table td, .datagridTeamSchedule table th {
		/*padding: 3px 10px;*/
	}/* cellpadding */
	
	/* thead */
	.datagridTeamSchedule table thead th {
		/* thead-top-gradient-color, thead-lower-gradient-color */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699; /* set to lower gradient color */
		color: #ebebeb; /* header-font-color */
		border-left: 1px solid #006699; /* thead-vert-line-size, thead-vert-line-color */
		font-size: 15px; /* thead-font-size */
	}
	.datagridTeamSchedule table thead th:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tbody */
	.datagridTeamSchedule table tbody td {
		color: #00496B; /* tbody-color */
		border-left: 1px solid #E1EEF4; /* tbody-vert-line-size, tbody-vert-line-color */
		text-align: left; /* tbody-text-align */
	}
	
	.datagridTeamSchedule table tbody .alt {
		background: #E1EEF4; /* tbody-row-alt-background-color */
	}
	.datagridTeamSchedule table tbody .alt td {
		background: #E1EEF4;
		color: #6B332B;
	}
	.datagridTeamSchedule table tbody td:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tfooter */
	.datagridTeamSchedule table tfoot td div {
		border-top: 1px solid #069; /* tfoot-top-border-width, tfoot-top-border-color */
		background: #E1EEF4; /* tfoot-background-color */
		padding: 5px; /* tfoot-padding */
	}
	
	.datagridTeamSchedule table tfoot td {
		padding: 0; /* MANDATORY */
	}
	
	/* paging */
	.datagridTeamSchedule table tfoot td ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	.datagridTeamSchedule table tfoot  li {
		display: inline;
	}
	.datagridTeamSchedule table tfoot li a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding: 2px 8px;
		margin: 1px;
		/*border: 1px solid #069;*/ /* border width, border color */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699;
	}
	
	.datagridTeamSchedule table tfoot li .active, .datagridTeamSchedule table tfoot li a:hover {
		text-decoration: none;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: none;
		background-color: #006699;
	}
	
	.datagridTeamSchedule {
		/*border: 3px solid #069;*/
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	/*-----------------------------------*/
	.tablas {
		width:980;
		display:inline-block;
	}
	
	/*----- Tabla Links -----*/
	/* Clearfix */
	.tabla-links{
		padding-left: 0px;
	}
	
	.tabla-links:after {
		display:block;
		clear:both;
		content:'';
	}
	 
	.tabla-links li {
		margin:0px 3px;
		float:left;
		list-style:none;
	}
	
	.tabla-links a {
		background:#D8D7D7;
		color:#4c4c4c57;
		padding:9px 15px;
		display:inline-block;
		border-radius:3px 3px 0px 0px;
		font-size:14px;
		font-weight:600;
		transition:all linear 0.15s;
	}
	
	.tabla-links a:hover {
		background:#a7cce5;
		text-decoration:none;
	}
	
	
	/*--------------------------------------*/			
	
	.tabs {
		width:980;
		display:inline-block;
	}
	
	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links{
		padding-left: 0px;
	}
	
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
	 
	.tab-links li {
		margin:0px 3px;
		float:left;
		list-style:none;
	}
	
		.tab-links a {
			padding:9px 15px;
			display:inline-block;
			border-radius:3px 3px 0px 0px;
			background:#7FB5DA;
			font-size:14px;
			font-weight:600;
			color:#4c4c4c;
			transition:all linear 0.15s;
		}
	
		.tab-links a:hover {
			background:#a7cce5;
			text-decoration:none;
		}
	
	li.active a, li.active a:hover {
		background:#7FB5DA;
		color:#4c4c4c;
	}
	 
	/*----- Content of Tabs -----*/
	.tab-content {
		padding:10px;
		border-radius:3px;
		background:#fff;
	}
	
	.tab {
		display:none;
	}

	.tab.active {
		display:block;
	}
/* CSS Document */

