@charset "utf-8";


	.hover figure img {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	.hover figure:hover img {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	.css {
	font-size: 50px;
	letter-spacing: 6px;
	line-height: .7;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-shadow: 2px 2px 0 #AB9C53;
	}
	
	.datagrid table {
		border-collapse: collapse;
		text-align: left;
		width: 100%;
		overflow: hidden;
	}
	
	/* DEFAULT MANDATORY EVERY TABLE */
	.datagrid {
		font: normal 12px/150% Arial, Helvetica, sans-serif; /* font,font-size */
		background: #fff; /* table-background-color */
		border: 3px solid #069; /* border width, border color */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		width: 70%;
		margin: 0 auto;
	}
	
	.datagrid table td, .datagrid table th {
		padding: 3px 10px;
	}/* cellpadding */
	
	/* thead */
	.datagrid table thead th {
		/* thead-top-gradient-color, thead-lower-gradient-color */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699; /* set to lower gradient color */
		color: #ebebeb; /* header-font-color */
		border-left: 1px solid #006699; /* thead-vert-line-size, thead-vert-line-color */
		font-size: 15px; /* thead-font-size */
	}
	.datagrid table thead th:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tbody */
	.datagrid table tbody td {
		color: #00496B; /* tbody-color */
		border-left: 1px solid #E1EEF4; /* tbody-vert-line-size, tbody-vert-line-color */
		text-align: left; /* tbody-text-align */
	}
	
	.datagrid table tbody .alt {
		background: #E1EEF4; /* tbody-row-alt-background-color */
	}
	.datagrid table tbody .alt td {
		background: #E1EEF4;
		color: #6B332B;
	}
	.datagrid table tbody td:first-child {
		border: none; /* MANDATORY */
	}
	
	/* tfooter */
	.datagrid table tfoot td div {
		border-top: 1px solid #069; /* tfoot-top-border-width, tfoot-top-border-color */
		background: #E1EEF4; /* tfoot-background-color */
		padding: 5px; /* tfoot-padding */
	}
	
	.datagrid table tfoot td {
		padding: 0; /* MANDATORY */
	}
	
	/* paging */
	.datagrid table tfoot td ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
	}
	.datagrid table tfoot  li {
		display: inline;
	}
	.datagrid table tfoot li a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding: 2px 8px;
		margin: 1px;
		/*border: 1px solid #069;*/ /* border width, border color */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557f) );
		background: -moz-linear-gradient( center top, #006699 5%, #00557f 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557f');
		background-color: #006699;
	}
	
	.datagrid table tfoot li .active, .datagrid table tfoot li a:hover {
		text-decoration: none;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; /* border-radius */
		background: none;
		background-color: #006699;
	}
	
	.datagrid {
		border: 3px solid #069;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	.tabs {
		width:100%;
		display:inline-block;
	}
	
	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
	 
	.tab-links li {
		margin:0px 3px;
		float:left;
		list-style:none;
	}
	
		.tab-links a {
			padding:9px 15px;
			display:inline-block;
			border-radius:3px 3px 0px 0px;
			background:#7FB5DA;
			font-size:14px;
			font-weight:600;
			color:#4c4c4c;
			transition:all linear 0.15s;
		}
	
		.tab-links a:hover {
			background:#a7cce5;
			text-decoration:none;
		}
	
	li.active a, li.active a:hover {
		background:#fff;
		color:#4c4c4c;
	}
	 
	/*----- Content of Tabs -----*/
	.tab-content {
		padding:10px;
		border-radius:3px;
		background:#fff;
	}
	
	.tab {
		display:none;
	}

	.tab.active {
		display:block;
	}
/* CSS Document */
.bottombutton {
   border-top: 1px solid #969696;
   background: #f5f5f5;
   background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#f5f5f5));
   background: -webkit-linear-gradient(top, #ededed, #f5f5f5);
   background: -moz-linear-gradient(top, #ededed, #f5f5f5);
   background: -ms-linear-gradient(top, #ededed, #f5f5f5);
   background: -o-linear-gradient(top, #ededed, #f5f5f5);
   padding: 3px 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.bottombutton:hover {
   border-top-color: #9db7c9;
   background: #9db7c9;
   color: #000000;
   }
.bottombutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }